.wrapper {
  width: 100%;
  padding-top: var(--hight-navbar);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  padding: 20px 0;
  font-family: cursive;
  font-size: 6rem;
}

.list-item {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  place-items: center;
}

@media only screen and (max-width: 1300px) {
  .list-item {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .list-item {
    grid-template-columns: 1fr;
  }
}