.wrapper {
    width: 100%;
    height: calc(100vh - var(--hight-navbar));
    padding-top: var(--hight-navbar);
    display: flex;
    flex-direction: column;
}

.about-top {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--font-family);
}

.about-bottom {
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    font-family: var(--font-style);

    .heading {
        padding-bottom: 20px;
        font-weight: 500;
        font-size: 4rem;
        color: black;
    }

    .description {
        line-height: 2rem;
        color: rgba(0, 0, 0, 0.6);
    }
}